*
!.gitignore
!.vimrc
!.config/
.config/*

!.config/nvim/
!.config/nvim/**

!.config/wezterm/
!.config/wezterm/**

!.claude
!.claude/agents/
!.claude/agents/**
!.claude/skills/
!.claude/skills/**
!.claude/plugins/
!.claude/plugins/**
